<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div id="toDoList">
      <div id="myList" class="header">
        <h2>My To Do List</h2>
        <form>
          <input
          type="text"
          id="input"
          placeholder="Title..."
          v-model="inputText"
          ><button type="button" @click="addToDo" class="addbtn">Add</button>
        </form>
      </div>

      <ul id="list">
        <li
        v-for="(item, index) in items"
        :key="index"
        :class="{checked: item.checked}"
        @click="check(item)"
        >
          {{item.text}}
          <button type="button" @click="deleteItem(index)" class="close">x</button>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
