body {
  margin: 5px;
  min-width: 250px;
}
#toDoList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  background-color: #ff5050;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.header h2 {
  color: white;
}
form{
  display: flex;
  justify-content: center;
}
#input{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}
.addbtn{
  font-size: 16px;
  padding: 10px;
  width: 25%;
  margin: 0;
  border: none;
}
.addbtn:hover {
  background-color: #bbb;
}
ul {
  margin: 0;
  padding-left: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover{
 background: #ddd;
}
ul li.checked {
background-color: #33cc33;
color: #fff;
text-decoration: line-through;
}
.close {
 float: right;
 margin-left: 5px;
 border: none;
 background-color: inherit;
 padding: 8px 16px 8px 16px;
 margin-top: -5px;
 margin-right: -5px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
